node_modules
demo/webroot/css/*.css
demo/webroot/css/*.map
demo/webroot/assets/*
!.keep
demo/webroot/js/*.js
demo/webroot/js/*.map
demo2/webroot/frontend/dist/*

# Don't commit compiled sources
dist

# IDEA Code Style
.idea/*
!.idea/copyright/
!.idea/copyright/*
!.idea/codeStyles/
!.idea/codeStyles/*
