node_modules
.idea
demo/webroot/css/*.css
demo/webroot/css/*.map
demo/webroot/assets/*
!.keep
demo/webroot/js/*.js
demo/webroot/js/*.map
demo2/*
!demo2/webroot/src
!demo2/package.json
!demo2/webroot/Index.html